#######################################################################
#
# Imprint cache Apache configuration
#
######################################################################

# --------------------------------------------------------------------
# Rewrite rules
# --------------------------------------------------------------------

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /imprint/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ ?image=$1 [QSA,L]

</IfModule>

# --------------------------------------------------------------------
# php.ini overrides for phpThumb
# --------------------------------------------------------------------

<IfModule mod_php.c>

	php_value memory_limit "128M"

</IfModule>

# --------------------------------------------------------------------
# Deny cache listing
# --------------------------------------------------------------------

Options -Indexes